body {
    padding: 0px;
    margin: 0; 
    box-sizing: border-box; 
    font-family: Helvetica,Arial,sans-serif; 
} 
::placeholder { color: #cecece; opacity: 1; } 
:-ms-input-placeholder { color: #cecece; } 
::-ms-input-placeholder { color: #cecece; }

 
Canvas { display: none; }

.startPage {
    width: 375px;
    height: 667px;
    position: absolute;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;    
    background-size: 100%;
} 
.cover {
    width: 375px;
    height: 667px;
    background-color: rgba(153, 153, 153, 0.39);
}

.nickName { 
    text-align: center;  
    margin-top: 20px;
}


 
#showScore,
#showName {
    width: 50%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    float: left;
    margin-top: 70px;
}

#user {
    background: #e8e8e8; 
    border: 0px solid;
    height: 90px;
    width: 350px;
    text-align: center;
    font-size: 50px; 
    font-family: Courier New;
}
#user:focus {
    outline: none;
}





/* BUTTON AND COLOR CHANGE */

.button {
    cursor: pointer;
    width: 300px;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: #3498db;
    border: none; 
    box-shadow: 0 9px #999;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s; 
    margin: auto;
    margin-top: 20px;
    letter-spacing: 2px;

    -webkit-animation: background-color-change 4s infinite;
    -moz-animation: background-color-change 4s infinite;
    -o-animation: background-color-change 4s infinite;
    -ms-animation: background-color-change 4s infinite;
    animation: background-color-change 4s infinite;
}
.button:hover {
    background-color: hsla(204, 70%, 53%, 0.432);
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}
 

@-webkit-keyframes color-change {
    0% { background-color: #c1ea02; }
    50% { background-color: #0196b8; }
    75% { background-color: #00b63e; }
    100% { background-color: #fb025c; }
}
@-moz-keyframes background-color-change {
    0% { background-color: #c1ea02; }
    50% { background-color: #0196b8; }
    75% { background-color: #00b63e; }
    100% { background-color: #fb025c; }
}
@-ms-keyframes background-color-change {
    0% { background-color: #c1ea02; }
    50% { background-color: #0196b8; }
    75% { background-color: #00b63e; }
    100% { background-color: #fb025c; }
}
@-o-keyframes background-color-change {
    0% { background-color: #c1ea02; }
    50% { background-color: #0196b8; }
    75% { background-color: #00b63e; }
    100% { background-color: #fb025c; }
}
@keyframes background-color-change {
    0% { background-color: #c1ea02; }
    50% { background-color: #0196b8; }
    75% { background-color: #00b63e; }
    100% { background-color: #fb025c; }
} 